<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>IMUduino - Bluetooth Lock Example</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <script src="lib/jquery.js"></script>
    <!-- ionic/angularjs js -->
    
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/ng-cordova.js"></script>
    

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    
    <script src="lib/nRF8001/UART.js"></script>
    <!-- your app's js -->
    
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

  <ion-pane ng-controller="MainCtrl">
    <ion-header-bar class="bar-stable">

      <button class="button button-icon ion-plus" ng-click="UART.startScan(1)">
        SCAN
      </button>

      <button ng-click="UART.disconnect()" class="button button-icon ion-plus">
        STOP
      </button>
    </ion-header-bar>
    <ion-content>
      
      <div>
        
      </div>
      
      
      <h1>BLE Scan <i ng-if="UART.isScanning === true" class="icon ion-loading-c"></i></h1>
      <h3>is scanning</h3>
      <div>{{UART.isScanning}}</div>
      <h3>scanned devices: {{UART.scannedDevices.length}}</h3>
      
      
      
      
      <ion-list id="found-devices">
        <ion-item ng-repeat="device in UART.scannedDevices">
          <strong>{{device._device.name}}</strong><br />
          {{device._device.address}}<br />
          {{device._device.rssi}}<br />
          <div style="background:rgb(0,255,0); height:20px; width:{{getRssiWidth(device._device)}}%"></div>
          <a href="" class="button icon-left ion-open" ng-click="device.connect()">Connect</a>
          <a href="" class="button icon-left ion-close" ng-click="device.disconnect()">Disconnect</a>
          <br />
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="Input Code" ng-model="send_data" />
            </label>
          </div>
          <button class="button" ng-click="sendData(device)">Unlock</button>
          <div>
            <label class="item item-input">
              <input type="text" placelholder="Received data" disabled="disabled" ng-model="received_data" />
            </label>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-pane>
</body>
</html>
